{% extends 'base_app/base.html' %}
{% block  content%}
<!DOCTYPE html>
<html lang="en">
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">
  <h1>How to Play the game:</h1>
  <ol>
    <li>Select a number from the prediction drop down</li>
    <li>Click the roll button</li>
    <li>Watch the results in the output box, if the sum of two dice in any of the five rolls equals your prediction, you win!</li>
  </ol>
</div>

</body>
</html>
{% endblock content%}