<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title></title>
        <style>
            body {font-family: "Lato", sans-serif}
        </style>
    </head>
    <body>
        <div class="w3-content w3-container w3-padding w3-text teal" style="max-width:2000px;margin-top:46px">
            <h1 class="w3-center">Generated Password</h1>
                <h1 class="w3-center">{{new_pw}}</h1>

                <form action="{% url 'pw' %}" class="w3-center">
                    <button class="w3-btn w3-blue-grey w3-card-4">Return to Generator</button>
                </form>
                <div class="w3-container w3-left">
                    <p>The selected length: {{length}}</p>
                    <p>Includes uppercase characters: {{uppercase}}</p>
                    <p>Includes special characters: {{special}}</p>
                    <p>Includes numbers: {{numbers}}</p>
                </div>

        </div>   
    </body>
</html>